<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/bootstrap-theme.min.css' />
    <link rel='stylesheet' href='/css/blog.css' />
  </head>
  <body ng-controller="UserListCtrl">     
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="">
            <span>SVP</span>
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active">
              <a href="javascript:;">Home</a>
            </li>
            <li>
              <a href="javascript:;">Blog</a>
            </li>
            <li>
              <a href="javascript:;">About</a>
            </li>
            <li>
              <a href="javascript:;">F@ck</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section class="main">
    
    </section>
    <script type="text/javascript" src="/js/angular.min.js"></script>
    <script type="text/javascript" src="/js/ng/index.js"></script>
  </body>
</html>