<!DOCTYPE html>
<html ng-app="loginApp">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <!--<link rel='stylesheet' href='/css/bootstrap-theme.min.css' />-->
    <link rel='stylesheet' href='/css/blog.css' />
</head>
<body ng-controller="LoginCtrl">
<div class="container">
    <form class="form-signin" role="form" method="post" action="" ng-submit="save()">
        <h2 class="form-signin-heading">Home.</h2>
        <!--<tips></tips>-->
        <input class="errortips" ng-model="codeStatus"/>
        {{codeStatus}}
        <input class="form-control" type="text" ng-model="username" placeholder="账号" required/>
        <input class="form-control" type="password" ng-model="password" placeholder="密码" required/>
        <div class="checkbox">
            <label for="remember">记住我</label>
            <input id="remember" type="checkbox" value="记住我"/>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
    </form>
    <soso info="cpp"></soso>
    <my-customer info="naomi"></my-customer>
    <my-customer info="igor"></my-customer>
    <h2>Holy Shit!!!</h2>
    Date format: <input ng-model="format"> <hr/>
    Current time is: <span my-current-time="format"></span>
    <my-dialog>Check out the contents, {{dialog}}!</my-dialog>

    <span my-draggable>Drag ME</span>
    <my-tabs>
        <my-pane title="Hello">
            <h5 id="my_source_hello">Hello</h5>
            <p>Lorem ipsum dolor sit amet</p>
        </my-pane>
        <my-pane title="World">
            <h5 id="my_source_hello2">World</h5>
            <em>Mauris elementum elementum enim at suscipit.</em>
            <p><a href ng-click="i = i + 1">Counter: {{i}}</a></p>
        </my-pane>
    </my-tabs>
</div>
<script type="text/javascript" src="/js/angular.min.js"></script>
<script type="text/javascript" src="/js/ng/login.js"></script>
</body>
</html>